
___
# Python Crash Course

This notebook will just go through the basic topics in order:

* Data types
    * Numbers
    * Strings
    * Printing
    * Lists
    * Dictionaries
    * Booleans
    * Tuples 
    * Sets
* Comparison Operators
* if, elif, else Statements
* for Loops
* while Loops
* range()
* list comprehension
* functions
* lambda expressions
* map and filter
* methods
____

# Data types

### Numbers

In [2]:
print("Hello World !!")

Hello World !!

In [1]:
1 + 1

2

In [2]:
1 * 3

3

In [3]:
1 / 2

0.5

In [4]:
2 ** 4

16

In [5]:
4 % 2

0

In [6]:
5 % 2

1

In [7]:
(2 + 3) * (5 + 5)

50

### Variable Assignment

In [3]:
# Can not start with number or special characters
name_of_var = 2

In [4]:
x = 2
y = 3

In [5]:
z = x + y

In [6]:
z

5

### Strings

In [7]:
'single quotes'

'single quotes'

In [8]:
"double quotes"

'double quotes'

In [9]:
" wrap lot's of other quotes"

" wrap lot's of other quotes"

### Printing

In [10]:
x = 'hello'

In [11]:
x

'hello'

In [12]:
print(x)

hello

In [16]:
num = 12
name = 'Sam'

# My number is 12 and my name is Sam.

print('My number is',num,'and my name is',name)

My number is 12 and my name is Sam

In [20]:
print('My number is {} and my name is {}.'.format(num,name))

My number is 12 and my name is Sam.

In [21]:
print('My number is {one} and my name is {two}'.format(two=name,one=num))

My number is 12 and my name is Sam

In [19]:
print('My number is: {one}, and my name is: {two}'.format(two=name,one=num))

My number is: 12, and my name is: Sam

In [20]:
print('My number is: {}, and my name is: {}'.format(num,name))
#print('My number is: {}, and my name is: {}'.format(name,num))

My number is: 12, and my name is: Sam

In [21]:
print('My number is: ',num,' and my name is : ',name)

My number is:  12  and my name is :  Sam

In [22]:
print(f'My number is',num)

My number is 12

### Lists

In [24]:
[1,2,3]

[1, 2, 3]

In [25]:
['hi',1,[1,2]]

['hi', 1, [1, 2]]

In [23]:
my_list = ['a','b','c']

In [26]:
my_list.append('d')

In [28]:
my_list

['a', 'b', 'c', 'd']

In [29]:
my_list[0]

'a'

In [30]:
my_list[1]

'b'

In [29]:
my_list[1:2] #Slicing

['b']

In [32]:
my_list[:1]

['a']

In [33]:
my_list[0] = 'NEW'

In [34]:
my_list

['NEW', 'b', 'c', 'd']

In [34]:
nest = [1,2,3,[4,5,['target']]]

In [38]:
nest[3][2][0]

'target'

In [40]:
a=[2,4,5,56,7,87,[0,23,54,78,['w5',6,4345,546,6]]]

In [44]:
a[6][4][0]

'w5'

In [33]:
# Strings can be typecast as a list in python without any operation.

strr = 'abcdefgh'

strr[:4]

'abcd'

#### Navigate to element 'w5'

In [45]:
a[6][4][0]

'w5'

In [ ]:
nest[3]

In [ ]:
nest[3][2]

In [ ]:
nest[3][2][0]

### Dictionaries

In [45]:
d = {'key1':'item1','key2':'item2'}

In [46]:
d

{'key1': 'item1', 'key2': 'item2'}

In [47]:
d['key1']

'item1'

### Booleans

In [49]:
True

True

In [50]:
False

False

### Tuples

In [48]:
t = (1,2,3)

In [51]:
t[1:]

(2, 3)

In [53]:
t[0] = 'NEW'

TypeError: 'tuple' object does not support item assignment

### Sets

In [54]:
{1,2,3}

{1, 2, 3}

In [56]:
{1,2,3,1,2,1,2,3,3,3,3,2,2,2,1,1,2}

{1, 2, 3}

In [58]:
normal_Set = set(['a','b','c'])
normal_Set

{'a', 'b', 'c'}

In [59]:
normal_Set.add('d')
normal_Set

{'a', 'b', 'c', 'd'}

In [52]:
frozen = frozenset(['e',
                   'f',
                   'g'])
frozen

frozenset({'e', 'f', 'g'})

In [53]:
frozen.add('addsomething')

AttributeError: 'frozenset' object has no attribute 'add'

## Comparison Operators

In [62]:
1 > 2

False

In [63]:
1 < 2

True

In [64]:
1 >= 1

True

In [65]:
1 <= 4

True

In [66]:
1 == 1

True

In [67]:
'hi' == 'bye'

False

## Logic Operators

In [68]:
(1 > 2) and (2 < 3)

False

In [69]:
(1 > 2) or (2 < 3)

True

In [70]:
(1 == 2) or (2 == 3) or (4 == 4)

True

## if,elif, else Statements

In [55]:
if (2==2):
    print('Equals !!!')

Equals !!!

In [73]:
if 1 < 2:
    print('yep!')

yep!

In [74]:
if 1 < 2:
    print('first')
else:
    print('last')

first

In [75]:
if 1 > 2:
    print('first')
else:
    print('last')

last

In [76]:
if 1 == 2:
    print('first')
elif 3 == 3:
    print('middle')
else:
    print('Last')

middle

## for Loops

In [56]:
seq = [1,2,3,4,5]

In [57]:
for i in seq:
    print(i)

1
2
3
4
5

In [79]:
for item in seq:
    print('Yep')

Yep
Yep
Yep
Yep
Yep

In [80]:
for jelly in seq:
    print(jelly+jelly)

2
4
6
8
10

## while Loops

In [81]:
i = 1
while i < 5:
    print('i is: {}'.format(i))
    i = i+1

i is: 1
i is: 2
i is: 3
i is: 4

## range()

In [58]:
x=range(5)

In [59]:
type(x)

range

In [60]:
for i in x:
    print(i)

0
1
2
3
4

In [61]:
list(range(5))

[0, 1, 2, 3, 4]

## list comprehension

In [65]:
x = [1,2,3,4]

* What is wall time, CPU time, sys time and user time?

* https://stackoverflow.com/questions/48202900/what-does-these-parameters-mean-in-jupyter-notebook-when-i-input-time/48238316

In [66]:
%%time

for i in x:
    print(i ** 2)

1
4
9
16
CPU times: user 880 µs, sys: 682 µs, total: 1.56 ms
Wall time: 971 µs

In [67]:
%%time
[i**2 for i in x]

#[item**2 for item in x]

CPU times: user 6 µs, sys: 1 µs, total: 7 µs
Wall time: 9.06 µs

[1, 4, 9, 16]

In [ ]:
# Time Complexity - 84 > 85
# Space Complexity

## functions

In [68]:
def my_func(param1='default'):
    """
    Docstring goes here.
    """
    print(param1)

In [69]:
my_func

In [70]:
my_func('Vipul')

Vipul

In [71]:
my_func()

default

In [98]:
my_func(param1='new param')

new param

In [99]:
def square(x):
    return x**2

In [100]:
out = square(2)

In [101]:
print(out)

4

## lambda expressions

lambda arguments : expression

In [136]:
x = lambda a: a+10

In [137]:
print(x(5))

15

In [72]:
def times2(var):
    return var*2

In [106]:
times2

In [104]:
times2(2)

4

In [107]:
lambda var: var*2

In [108]:
x=lambda a: a+10
print(x(5))

15

In [73]:
def sqrr(x):
    return x**2

In [74]:
sqrr

In [75]:
lambda v : v **2

In [76]:
s = [1,2,3,4,5,6,7,8,9]

In [77]:
map(sqrr,s)

In [78]:
list(map(sqrr,s))

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [80]:
list(map(lambda v: v**2,s))

[1, 4, 9, 16, 25, 36, 49, 64, 81]

## map and filter

In [109]:
seq = [1,2,3,4,5]

In [110]:
map(times2,seq)

In [112]:
list(map(times2,seq))

[2, 4, 6, 8, 10]

In [113]:
list(map(lambda var: var*2,seq))

[2, 4, 6, 8, 10]

In [114]:



filter(lambda i : i % 2 == 0,seq)

In [116]:
list(filter(lambda item: item%2 == 0,seq))

[2, 4]

## methods

In [124]:
st = 'hello my name is Sam'

In [118]:
st.lower()

'hello my name is sam'

In [119]:
st.upper()

'HELLO MY NAME IS SAM'

In [120]:
st.split()

['hello', 'my', 'name', 'is', 'Sam']

In [125]:
tweet = 'Go Sports! #Sports'

In [126]:
tweet.split('#')

['Go Sports! ', 'Sports']

In [127]:
tweet.split('#')[1]

'Sports'

In [128]:
d

{'key1': 'item1', 'key2': 'item2'}

In [129]:
d.keys()

dict_keys(['key1', 'key2'])

In [130]:
d.items()

dict_items([('key1', 'item1'), ('key2', 'item2')])

In [131]:
lst = [1,2,3]

In [132]:
lst.pop()

3

In [133]:
lst

[1, 2]

In [134]:
'x' in [1,2,3]

False

In [135]:
'x' in ['x','y','z']

True

# Great Job!